{% extends 'index_base.html' %}

{% block content %}
<div class="profile">
    <h2>User profile {{ profile_user.username }}</h2>

    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="Avatar {{ profile_user.username }}" width="150">
    {% endif %}

    <div class="profile-info">
        <p><strong>Username:</strong> {{ profile_user.username }}</p>
        <p><strong>Email:</strong> {{ profile_user.email }}</p>
        <p><strong>Bio:</strong> {{ profile.bio }}</p>
        <p><strong>Registration date:</strong> {{ profile_user.date_joined|date:"d.m.Y" }}</p>
    </div>

    {% if request.user == profile_user %}
{#        <a href="{% url 'edit_profile' %}">Редактировать профиль</a>#}
        <h>Edit profile</h>

    {% endif %}
    <div class="profile-posts-grid">
    {% for post in posts %}
    {% include 'posts/post_miniature.html' %}
    {% endfor %}
    </div>
</div>


<style>

.profile-posts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки как в Instagram */
    gap: 2px; /* Маленький промежуток между постами */
    width: 100%;
    max-width: 935px; /* Максимальная ширина как в Instagram */
    margin: 0 auto;
}

</style>

{% endblock %}