{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'posts/post.css' %}">
    <script src="{% static 'posts/likes.js' %}"></script>
    <script src="{% static 'main/back_button.js' %}"></script>
</head>
<body>
    {% include 'navbar.html' %}

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    {% block modals %}
    {% endblock %}

    <style>

        .main-content {
            margin-left: 250px;
            padding: 20px;
            transition: margin 0.3s ease;
        }


        @media (max-width: 768px) {
            .main-content {
                margin-left: 0;
                padding: 20px;
                margin-top: 60px;
            }


            .navbar.active + .main-content {
                transform: translateX(240px);
            }
        }
    </style>
</body>
</html>