{% extends "index_base.html" %}
<title>{% block title %}Login{% endblock %}</title>

{% block content %}
    <h1>Posts:</h1>
    <h2>Want to create your own post?</h2>
    <a href="{% url 'create_post' %}">+</a>
    <hr>
    {% for post in posts %}
        {% include 'posts/post.html' with post=post %}
    {% endfor %}

<script>
    window.addEventListener('DOMContentLoaded', () => {
        const lastNewsId = "{{ last_news_id }}";
        if (lastNewsId) {
            const element = document.getElementById(`post-${lastNewsId}`);
            if (element) {
                element.scrollIntoView({ behavior: 'smooth', block: 'center' });
            }
        }
    });
</script>

{% endblock %}

