{% extends "index_base.html" %}
% load static %
<title>{% block title %}Login{% endblock %}</title>

{% block content %}
    <h1>Posts:</h1>
    <h2>Want to create your own post?</h2>
    <a href="{% url 'create_post' %}">+</a>
    <hr>
    <div id="posts-container" data-last-news-id="{{ last_news_id }}">
        {% for post in posts %}
            {% include 'posts/post.html' with post=post %}
        {% endfor %}
    </div>






{% endblock %}


{% block modals %}
    {% include 'posts/includes/confirm_delete.html' %}
{% endblock %}

