<div class="post"  id="post-{{ post.id }}">
    {% include 'posts/includes/post_header.html' %}

    <div class="post-image-container" onclick="window.location='/posts/{{ post.id }}'">
        {% if post.image %}
        <img src="{{ post.image.url }}" class="post-image">
        {% else %}
        <div class="no-image-placeholder">No image</div>
        {% endif %}
    </div>

    <div class="post-footer">
        <p>{{ post.caption }}</p>
        {% include 'posts/includes/like_section.html' %}
    </div>
</div>







